@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.historyairroutedot-wrap{
  .aside-wrap{
    .query-form-chunk{
      .ui-form{
        input{
          width:140px;
          background:$bg3;
        }
        .bui-select-input{
          width:116px;
        }
      }
    }
    .query-result-wrap{
      li.active{
        padding-right:33px;
        .air-name{
          color:$ac1;
        }
        .ui-icon-ndb{
          sbg('../../assets/img/icon/icon_ndb.png');
        }
        .ui-icon-vor{
          sbg('../../assets/img/icon/icon_vor.png');
        }
        .ui-icon-wpt{
          sbg('../../assets/img/icon/icon_wpt.png');
        }
      }
      li{
        padding: 0 25px;
        .air-name{
          color:$ac;
        }
        .ui-icon-ndb{
          sbg('../../assets/img/icon/icon_ndb1.png');
          width:18px;
          height:18px;
        }
        .ui-icon-vor{
          sbg('../../assets/img/icon/icon_vor1.png');
          width:18px;
          height:18px;
        }
        .ui-icon-wpt{
          sbg('../../assets/img/icon/icon_wpt1.png');
          width:18px;
          height:18px;
        }
        span{
          .ui-icon{
            margin-left:12px;
          }
        }
      }
    }
  }
  .content-wrap{
    max-width:1100px;
    margin: 0 auto;
    .head-thunk{
      margin-bottom:10px;
      .title-text{
        >p{
          font-weight:bold;
          display:inline-block;
          vertical-align :middle;
        }
        .ui-form{
          display:inline-block;
          vertical-align :middle;
          margin-left:5px;
          input{
            width:50px;
            background:$bg1;
          }
        }
      }
    }
    .form-group-thunk{
      margin-bottom:15px;
      .form-group3{
        >.ui-form{
          &:first-child{
            input{
              width:115px;
            }
          }
        }
      }
      .form-group4{
        >.ui-form{
          &:first-child{
            input{
              width:105px;
            }
          }
          &:last-child{
            padding-right:18px;
            input{
              width:30px;
            }
          }
        }
      }
      .ui-form{
        margin-bottom:10px;
      }
      .ui-form-unit{
        label{
          margin-right:3px;
        }
        min-width:((250/1440)*1280)px;
        max-width:255px;
        width:(260/1100)*100%;

        padding-right:18px;
        text-align :right;
        setPad0();
        input{
          width:140px;
        }
      }
      .ui-coordinate{
        width:(340/1100)*100%;
        min-width:((340/1440)*1280)px;
        max-width:340px;
        padding-right:15px;
        text-align :right;
        margin-bottom:10px;
        .ui-form{
          display:inline-block;
          vertical-align middle;
          margin-bottom:0;
          input{
            width:30px;
          }
        }
        >span{
          display:inline-block;
          vertical-align middle;
        }
      }
    }
    .client-data-thunk{
      margin-bottom:45px;
      .ui-form{
        width:(230/1100)*100%;
        max-width:230px;
        input{
          width:30px;
        }
      }
    }
    .btn-group{
      text-align :middle;
      .ui-btn-full{
        setMar0();
        margin:0 5px;
      }
    }
  }
}