@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.inform-wrap{
  .content-wrap{
    max-width: 980px;
    margin:0 auto;
    padding-top:65px;
  }
  .search-wap{
    text-align: right;
    .ui-form{
      display:inline-block;
      input{
        width:200px;
      }
    }
    .ui-key{
      height:20px;
      background:$ac;
    }
  }
  /*pimnglc*/
  .table-thunk{
    margin-bottom:10px;
  }
}
.editor-wrap{
  padding:20px 45px;
  .ui-form{
    margin-bottom:10px;
    label{
      width:60px;
    }
    input{
      width:500px;
    }
    textarea{
      resize:none;
      border:1px solid $bm;
      width:500px;
      height:245px;
    }
  }
}
