@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.informationdetails-wrap{
  padding-top:30px;
  max-width:1120px;
  h3{
    text-align center;
    font-size:18px;
  }
  .key-val-thunk{
    padding:20px 0 10px;
    border-bottom:1px solid $mc;
    margin-bottom:10px;
    text-align center;
    p{
      setMar0();
      display:inline-block;
      margin:0 20px;
    }
  }
    .detail-content{
      .ui-btn{
        margin-top:20px;
      }
    }
}