@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";
.airroutetask-wrap{
//侧边内容块
  .aside-wrap{
    background:$bg8;
  //查询结果列表
    .query-result-wrap{
      top:10px;
      li.finish{
        background:$ac3;
      }

      li.unfinish{
        background:$ac1;
      }

      li.active{
        background:$bg3;
        .air-name{
          color:$mc;
        }
      }

      li{
        .air-name{
          width:auto;
          color:$fc3;
          font-size:16px;
          text-align: center;
          margin-right:5px;
        }
      }
    }
  }

  .content-wrap{
    max-width: 980px;
    margin:0 auto;
    padding-top:65px;
  }
  .search-wap{
    margin-bottom:20px;
  }
  /*pimnglc*/
  .table-thunk{
    margin-bottom:10px;
    .ui-form{
      line-height:1;
      .ui-val{
        display:inline-block;
        margin:0 10px;
        setMar0();
      }
    }
  }
}
