@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.datarecover-wrap{
  .content-wrap{
    max-width: 1120px;
    margin:0 auto;
    padding-top:65px;
  }
  .search-wap{
    text-align: right;
    margin-bottom:15px;
    .ui-form{
      display:inline-block;
      input{
        width:80px;
      }
    }
    .ui-key{
      height:20px;
      background:$ac;
    }
  }

  .inform-table-wap{
    .ui-key{
      font-weight:bold;
    }
  }

  /*pimnglc*/
  .table-thunk{
    margin-bottom:10px;
  }
}
.editor-wrap{
  padding:20px 45px;
  .ui-form{
    margin-bottom:10px;
    label{
      width:60px;
    }
    input{
      width:500px;
    }
    textarea{
      resize:none;
      border:1px solid $bm;
      width:500px;
      height:245px;
    }
  }
}
.bui-stdmod-footer{
  text-align: center;
  padding:20px 0;
}
