//文字色
$mc=#333333;
//副色
$fc1= #999999;
$fc2= #dcdcdc;
$fc3 = #fff;

//边框主色
$bm=#d7d7d7;
//边框副色
$bc= #505866;
$bc2= #b9cfd2;

//突出色
$ac= #1ea3b7;
$ac1= #f85a54;
$ac2= #ffd649;
$ac3 = #7bba5c;

//背景色

//表格背景
$bgb=#fff;
$bg1=#ececec;
$bg2= #bbb;

//主背景
$bg3= #f7f7f7;

//页头背景
$bg4= #3ba2b9;
$bg5= #218098;
$bg5-1=#0a708a;
$bg6=#e8f5f7;



//侧边背景
$bg7= #222b3a;
$bg8= #303a4a;
$bg9= #3c4656;

