@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.checkairline-wrap{
  padding-top:10px;
  .air-check-left,.air-check-right{
    padding:30px 40px 20px 15px;
  }
  .ui-key-start{
    width:80px;
    text-align:right;
    display:inline-block;
    padding-right:6px;
  }

  .ui-key-start.float-l{
    margin-top:3px;
  }
  .ui-triangle-down{
    &:after{
      addWC(' ');
      border-top:6px solid $bg4;
      border-left:5px solid transparent;
      border-right:5px solid transparent;
      margin-left:5px;
    }
  }
  .ui-triangle-right{
    &:after{
      addWC(' ');
      border-left:6px solid $bg4;
      border-top:5px solid transparent;
      border-bottom:5px solid transparent;
      margin-left:5px;
    }
  }
  .form-size{
    //form大下
    .form-first{
      width:235px;
    }
    .form-last{
      width:158px;
    }
    .form-2{
      width:150px;
    }
    .form-3{
      width:108px;
    }
      //input框大小
    .input-l{
      width:140px;
    }
    .input-m{
      width:80px;
    }
    .input-sm{
      width:70px;
    }
    .input-s{
      width:50px;
    }

    .input-selece-x{
      .bui-select-input{
        width:35px;
      }
    }

    .input-selece-s{
      .bui-select-input{
        width:70px;
      }
    }

    .ui-key-start{
      padding:0;
      width:74px;
    }
    .ui-form{
      padding-right:16px;
      text-align right;
      margin-bottom:10px;
      label{
        margin-right:1px;
      }
      input{
        background:$bg3;
      }
    }

    .ui-pad0{
      padding-right:0;
    }
  }

  .form-group1.form-size{
    .form-first{
      text-align:left;
    }
    .form-last{
      padding-right:25px;
    }
  }
  .form-group2.form-size{
    .form-first{
      width:493px;
      position relative;
      i{
        position: absolute;
        right: 390px;
        top: 5px;
      }
    }
    .input-l{
      width:398px;
      padding-left:30px;
    }

    .input-m{
      width:94px;
    }
  }
  .form-group3.form-size{
    .form-first{
      width:155px;
    }
    .form-2{
      width:184px;
    }
    .form-3{
      width:158px;
    }
    .input-l{
      width:60px;
    }
  }
  .coding-wrap{
    .row-text-thunk{
      overflow: hidden;
      background:url('../../assets/img/row_text_Bg.png');
      border:1px solid $bm;
      border-bottom:none;
      padding:0 30px;
      position:relative;
      margin-left:78px;
      i{
        position:absolute;
      }
      p{
        line-height:2;
      }
      .ui-icon-raw{
        left:10px;
        top:2px;
      }
      .ui-icon-writeout{
        right:5px;
        bottom:5px;
      }
    }
    .rep-text-thunk{
      margin-left:78px;
      position:relative;
      margin-bottom:5px;
      .ui-icon-replace{
        position:absolute;
        left:10px;
        top:5px;
      }
    }
    .ui-textarea{
      width:100%;
      height:60px;
      border:1px solid $bm;
      background:$bgb;
      resize:none;
    }
    .take-time >i{
      right:133px;
    }
  }
  .ui-file{
    a{
      &:hover{
        text-decoration:underline;
      }
        margin-left:10px;
      color:$ac;
    }
  }
  .alternate-airport{
    .airport-list{
      li{
        background:$bg3;
        height:28px;
        border:1px solid $bm;
        text-align center;
        width:50px;
        color:$mc;
        font-size:12px;
        line-height:28px;
        float:left;
        margin:0 2px;
        setMar0();
      }
    }
  }
}