@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";
.deadyresult-wrap{
  //侧边内容块
  .aside-wrap{
    background:$bg8;
    padding-top:10px;
    //搜索查询
    .query-wrap{
      margin:0 8px;
    }
    .query-title-chunk{
      position:relative;
    }
    .query-title{
      margin-left:-8px;
    }
    //查询输入框
    .query-form-chunk{
      display:none;
      background:$bg7;
      padding:15px 8px 20px;
      position:relative;
      text-align: right;
      margin-bottom:5px;
      >.ui-form{
        margin-bottom:5px;
        text-align: right;
        label{
          color:$fc3;
          margin-right:15px;
        }
        input{
          border-color:$mc;
          width:168px;
        }
      }
      .ui-btn-cancel{
        position:absolute;
        height:27px;
        top:-27px;
        right:0;
        background:$bg7;
        color:$fc3;
        border-radius: 4px 4px 0 0;
        i{
          margin-right:10px;
        }
      }
    }
    .result-num{
      height:35px;
      line-height:35px;
      color:$fc3;
    }
    //查询结果列表
    .query-result-wrap{
      position:absolute;
      top:75px;
      bottom:0;
      overflow-y:auto;
      left:0;
      right:0;
      padding:0 8px;

      li.active{
        background:$bg3;
        color:$mc;
        padding-right:8px;
        margin-right:-8px;
        .air-name{
          color:$ac1;
        }
        .ui-icon-airplane{
           sbg('../../assets/img/icon/icon_air_2.png');
        }
      }
      li{
        height:40px;
        padding-left:10px;
        line-height:40px;
        background:$bg9;
        color:$fc3;
        margin-bottom:2px;
        text-align:center;
        .air-name{
          width:104px;
          color:$ac;
          text-align: center;
          margin-right:5px;
        }
        span{
          &:last-child{
            width:40px;
            margin-left:10px;
            text-align: center;
          }
          .ui-icon-airplane{
             sbg('../../assets/img/icon/icon_air_1.png');
          }
          i{
            width:14px;
            height:13px;
            margin:0 7px;
          }
        }
      }
    }
  }

  //z内容
  .content-wrap{
     max-width:1120px;
     margin:0 auto;
     padding:0 20px;
    .keyval-chunk{
      >p{
        display:inline-block;
        margin-right: 100px;
      }
    }
    .ui-textarea{
      resize: none;
      width:100%;
      height:90px;
      border:1px solid $bm;
    }
    .footer-thunk{
        text-align: right;
      >p{
        &:last-child{
          margin-left:10px;
        }
        display:inline-block;
      }
    }
  }
}
