@import "../../style/mixin";

.aside-panel{
  position:fixed;
  width:280px;
  bottom:0;
  background:$bg7;
  top:60px;
}
.search-wrp{
  padding-top:10px;
  text-align: center;
  .ui-form{
    label{
      color:$fc3;
    }
    input{
      border-radius: 4px;
      border:1px solid $bg9;
      background:$bg7;
      width:140px;
    }
  }

  .ui-btn-search{
    margin-top:16px;
  }
}
//内容块
.content{
  margin-left:280px;
}
