.czy-icon{
  display:inline-block;
  vertical-align middle;
}

//灰色搜索标
.czy-icon-search-grey{
  sbg('../../img/handle-sprite.png',0,-66px);
  width:15px;
  height:15px;
}

//选中下角标
.czy-icon-seleced{
  sbg('../../img/icon_checked.png',50%,50%);
  width:15px;
  height:15px;
}

//实心三角
.lump-arrows-up{
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:5px solid mc;
}
.lump-arrows-down{
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:none;
  border-top:5px solid mc;
}


  //线箭头
.line-arrows-up{
  sbg('/assets/img/arrows-up-down.png',0,0);
  width: 9px;
  height: 5px;
}
.line-arrows-dowm{
  sbg('/assets/img/arrows-up-down.png',0,-7px);
  width: 9px;
  height: 5px;
}

//指向
.czy-icon-point{
  sbg('../../img/icon-point.png',0,0);
  width:23px;
  height:12px;
  vertical-align: inherit;
}

//文件
.czy-file-icon{
  sbg('../../img/warning-sprite.png',0,-124px);
  width:25px;
  height:30px;
}

//文件内容
.icon-file-conten{
  width:17px;
  height:17px;
  sbg('../../img/handle-sprite.png',0,-82px);
}

//提示
.czy-icon-tooltip{
  width:16px;
  height:16px;
  sbg('../../img/icon_tooltip.png',0,0);
}

//关闭
.czy-close-selected{
  font-size:25px;
  line-height 1;
  cursor pointer;
}
//错误
.czy-error-icon{
  width:21px;
  height:18px;
  sbg('../../img/warning-sprite.png',0,0);
}
.czy-warning-icon{
  width:21px;
  height:18px;
  sbg('../../img/warning-sprite.png',0px,-21px);
}
.czy-cite-icon{
  width:21px;
  height:21px;
  sbg('../../img/warning-sprite.png',0px,-41px);
}