.czy-container{
  max-width:1440px;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  margin:0 auto;
}
.wrap-thunk{
  background:mcb;
  padding:10px;
}

.czy-center-thunk{
  text-align center;
  .center-thunk-child{
    display:inline-block;
  }
}