@import "var.styl"
@import "mixin.styl"
@import "reset.styl"
@import "icon.styl"
@import "layout.styl"
@import "common-module.styl"
@import "pop.styl"
//系统管理
@import "../system/user.styl" //用户管理
@import "../system/inforeportmaintain.styl" //信息报告数据维护
@import "../system/dictionaries.styl" //信息报告数据维护

//单独页面样式
@import "pages.styl"

//独特类型页面
@import "report.styl" //报告单
@import "filequery.styl" //文件查询

@import "common.styl"