
//检查单库维护—查询
.audit-checklist-wrap{
  .czy-key{
    width:85px;
  }
}

//风险评估表
.staff-assess-wrap{
  .wrap-thunk{
    position relative;
    padding 20px;
  }
  .czy-textarea{
    height:80px;
    resize vertical;
  }

  .left-thunk{
    width:(500/940*100)+'%'
    min-width:500px;
  }

  .content-list{
    width:(420/940*100)+'%'
    min-width:420px;
    position absolute;
    right:20px;
    top:91px;
    bottom:20px;
    background:mbg;
    padding-top:18px;
    padding-bottom:18px;
    li{
      line-height :1.8;
    }
  }
    .czy-key{
      width:80px;
      text-align :right;
    }
  .czy-btn-group{
    text-align center;
  }
}
.staff-assess-editor-wrap{
  .left-thunk{
    display inline-block;
  }
  .content-list{
    display inline-block;
    position initial;
    max-height:320px;
    vertical-align :middle;
  }
  .par-wrap{
    margin-left:90px;
  }
}

//文件审批
.notificationcheck-wrap{
  .wrap-thunk{
    padding-left:20px;
    padding-right:20px;
  }
  .czy-key{
    width:100px;
    text-align :left;
  }
}

//文章详情
.essay-details-wrap{
  .header-thunk{
    padding-top:20px;
    border-bottom:2px solid ft2;
    background mcb;
  }
  .details-title{
    font-size 22px;
    margin-bottom 20px;
  }
  .key-val-group{
    max-width:1000px;
    margin:0 auto;
    padding:0 20px;
  }
  .details-content{
    padding :20px;
    padding-top:30px;
    line-height:1.5;
    background:mcb;
    margin-bottom:20px;
    >p{
      text-indent 2em;
    }
    .file-item{
      display inline-block;
      text-align center;
      margin-top:20px;
      a{
        display:block;
      }
    }
  }
  .comment-thunk{
    background :mcb;
    padding:20px;
  }
  .comment-list{
    margin-top:30px;
    .comment-item{
      &:first-child{
        border-top:none;
      }
      border-top:1px solid mbd;
      padding-top:10px;
      padding-bottom:10px;
    }
    .user-thunk{
      img{
        width:45px;
        height:45px;
      }
      .user-name{
        display inline-block;
        margin-top:10px;
        margin-left:10px;
      }
    }
    .comment-text{
      margin-left:65px;
    }
  }
}
