.pop-add-role{
//表单
  .form-thunk{
    font-size :0;
    .czy-key{
      font-size:12px;
      margin-right:5px;
    }
    .czy-input{
      width:300px;
    }
    .czy-textarea{
      height:80px;
      width:290px;
    }
  }
  .par-wrap{
    margin-left:68px;
  }
}

//检查单库维护—查询 新建弹框
.pop-checkList-add-wrap{
  .czy-key{
    width:125px;
  }
  .par-wrap{
    margin-left:135px;
    .child-item{
      width:100%;
    }
  }
}


.error-pop{
  .bui-stdmod-header{
    background:aux5;
  }
}
.warning-pop{
  .bui-stdmod-header{
    background:aux1;
  }
}

.x-icon-question {
  text-align: center;
  font-size: 30px;
  color: mcb;
  width: 42px;
  height:42px;
  line-height:38px;
  margin: 0 auto;
  background: aux2;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.x-icon-info{
  @extend .x-icon-question
  background: aux5;
}
.x-icon-error{
  @extend .x-icon-info
}
.x-icon-warning{
  @extend .x-icon-info
}

.bui-message-content{
  text-align center;
  text-overflow ellipsis;
  overflow hidden;
  white-space nowrap;
}