//文字颜色
ft1 = #333;
ft2 = #666;
ft3 = #999;
ft4 = #16ac3f;

//主要颜色
mc = #40ad5e;
mcb = #fff;
mabg = #e4e4e4; //侧边栏背景色
mbg = #f5f5f5; //主背景
mtbg = #efefef; //标题背景
mbd = #e2e2e2; //表边框

//辅助色
aux1 = #ffb746;
aux2 = #f7d912;
aux3 = #65c0ff;
aux4 = #2f8145;
aux5 = #f24a4a;
aux6 = #ff9d34;
aux7 = #1acfb6;
aux8 = #765eff;
aux7 = #ff4d77;
aux9 = #ecf9f2;
