//右侧搜索
.search-chunk{
  margin-bottom:40px;
  >form{
    float:left;
    margin-right:10px;
    >input{
      width:89px;
    }
  }
  .ui-icon{
    height: 15px;
    width: 15px;
  }
}
//内容选择
//选择
.select-thunk{
  border-bottom:1px solid $bm;
  padding-bottom:10px;
  >h4{
    margin-bottom:15px;
  }
  .ui-check{
    display:none;
  }
  .ui-key{
    width:50px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
  .ui-val{
    display:inline-block;
    vertical-align: middle;
    margin-right:15px;
  }

  .ui-form{
    margin-bottom:5px;
  }
}

//侧边内容块
.aside-wrap{
  .taggle-btn{
    position:absolute;
    top:3px;
    right:8px;
    cursor :pointer;
    .ui-btn-cancel{
      height:27px;
      background:$bg7;
      color:$fc3;
      border-radius: 4px 4px 0 0;
      i{
        margin-right:10px;
      }
    }
    .none{
      display:none;
    }
  }

//搜索查询
  .query-wrap{
    margin:0 8px;
  }

  .query-title-chunk{
    position:relative;
  }

  .query-title{
    margin-left:-8px;
  }

  // 左侧机场四字码搜索
  .search-yard{
    text-align:center;
    margin-bottom:20px;
    .ui-form{
      margin-bottom:18px;
      label{
        color:$fc3;
      }
      .ui-input{
        width:140px;
        border-radius: 4px;
        border:1px solid $bc;
        background:$bg7;
        height:36px;
        color:$fc3;
      }
    }
  }

//查询输入框
  .query-form-chunk{
    display:none;
    background:$bg7;
    padding:15px 8px 20px;
    position:relative;
    text-align: right;
    margin-bottom:5px;
    .ui-form{
      margin-bottom:5px;
      text-align: right;
      label{
        color:$fc3;
        margin-right:5px;
      }
      input{
        border-color:$mc;
        width:168px;
      }
    }
    .bui-select{
      .x-icon-normal{
        border:none;
        height:26px;
        border-left:1px solid $bc2;
        background :$bg3;
        .icon-caret{
          border-top-color:$bg5;
        }
      }
      input{
        width:144px;
      }
    }
    .j-search{
      cursor :pointer;
    }
  }
  .result-num{
    height:35px;
    line-height:35px;
    color:$fc3;
    padding:0 8px;
  }
//查询结果列表
  .result-thunk{
    position:absolute;
    top:35px;
    bottom:106px;
    left:0;
    right:0;
    .result-list{
      li.active{
        span{
          color:$ac1;
        }
      }
      li{
        span{
          text-overflow:ellipsis;
          overflow hidden;
          white-space :nowrap;
          display:inline-block;
          padding-left:5px;
          padding-right :5px;
          text-align center;
          setPad0();
        }
      }
      .bui-simple-list{
        ul{
          padding:0 8px;
        }
      }
      //滚动
      .mCSB_scrollTools{
        left:8px;
        .mCSB_draggerContainer{
          width:8px;
        }
      }
    }
    .result-list.col-5-result{
      li{
        span{
          &:nth-child(3){
          width:70px; 
        }
          setMar0();
          display:inline-block;
          width:45px;
        }
        
      }
    }
    .result-list.col-6-result{
      li.active{
        padding-right:18px;
      }
      li{
        padding-left: 10px;
        padding-right: 10px;
        span{
          setMar0();
          display:inline-block;
          width:42px;
        }
      }
    }
    .result-list.col-2-result{
      li{
        span{
          width:50%;
        }
      }
    }
    .result-list.col-3-result{
      li{
        span{
          width:33%;
        }
      }
    }
  }
  .query-result-wrap{
    height:100%;
    li.active{
      background:$bg3;
      color:$mc;
      padding-right:18px;
      margin-right:-8px;
    }
    li{
      height:40px;
      padding-left:10px;
      padding-right:10px;
      line-height:40px;
      background:$bg9;
      color:$fc3;
      margin-bottom:2px;
      text-align:center;
      cursor pointer;
      .air-name{
        display:inline-block;
        text-align center;
        box-sizing border-box;
      }
    }
  }
}

  //修改记录底部
.amend-record{
  padding-top:10px;
  border-bottom:1px solid $mc;
  padding-bottom:5px;
}

  //页头绿色简要信息
.info-chunk{
  margin-bottom:30px;
  p:first-child{
    padding-left:0;
  }
  p:last-child{
    padding-right:0;
  }
  p{
    float:left;
    padding:0 30px;
  }
  .ui-key{
    font-weight: bold;
    &:after{
      content: '：';
    }
  }
  .ui-val{
    font-size:22px;
    font-weight:100;
    color:$ac;
  }
}

//校核
.check-wrap{
  position:relative;
  background:$bgb;
  border:1px solid $bm;
  max-width:1440px;
  min-width:(1420/1440)*1280;
  margin:0 auto;
//关闭按钮
  .close-icon{
    &:hover{
      color:$ac;
      border-color:$ac;
    }
    position:absolute;
    right:7px;
    top:7px;
    font-size:30px;
    display:inline-block;
    width:24px;
    height:24px;
    transform :rotate(45deg);
    border:1px solid $mc;
    border-radius:50%;
    color:$mc;
    text-align center;
    line-height:18px;
    cursor pointer;
  }

  .close-icon1{
    &:hover{
      color:$ac;
      border-color:$ac;
    }
    position:absolute;
    right:7px;
    top:7px;
    font-size:30px;
    display:inline-block;
    width:24px;
    height:24px;
    transform :rotate(45deg);
    color:$mc;
    text-align center;
    line-height:18px;
  }

  .air-check-left,.air-check-right{
    width:50%;
  }
  .air-check-left{
    border-right:1px solid $bm;
  }
//上半区
  .up-thunk{
    padding-bottom:25px;
    border-bottom:1px solid $mc;
  }
//下半区
  .down-thunk{
    text-align right;
    p{
      display:inline-block;
      vertical-align middle;
      margin-right:10px;
    }
  }
//标题
  .title-text{
    padding-left:20px;
    >span{
      font-size:12px;
      font-weight:100;
    }
  }
}

  //bui  tab切换
.tab-thunk{
  .tab-child{
    float:left;
    margin-bottom:4px;
  }
  .bui-tab{
    overflow: hidden;
    margin-bottom:-4px;
    .bui-tab-item-selected{
      background:$bg4;
      .bui-tab-item-text{
        color:$fc3;
        padding:0;
        background:none;
      }
    }
  }
  .bui-tab-item{
    margin-right:3px;
    float:left;
    background:$bg6;
    width:100px;
    height:28px;
    line-height:28px;
    text-align: center;
    border:none;
    .bui-tab-item-text{
      color:$ac;
      padding:0;
      background:none;
    }
  }
  .take-time{
    margin:0;
    margin-top:-3px;
    margin-right:20px;
  }
  .ui-btn-wring{
    margin-top:-3px;
  }
}
.tab-conten{
  padding-top:15px
}
