
.ui-icon{
  display:inline-block;
  vertical-align: middle;
}

//原
.ui-icon-raw{
  line-height:15px;
  &:after{
    @include addWC('原');
    color:$fc3;
    font-size:12px;
    background:$bg4;
    text-align: center;
    line-height:15px;
    width:15px;
    padding:1px;
    border-radius: 2px;
  }
}

//替
.ui-icon-replace{
  line-height:15px;
  &:after{
    color:$fc3;
    @include addWC('替');
    font-size:12px;
    background:$ac1;
    text-align: center;
    line-height:15px;
    width:15px;
    padding:1px;
    border-radius: 2px;
  }
}

//写出
.ui-icon-writeout{
  @include sbg('../../assets/icon/icon_down.png');
  width:19px;
  height:22px;
}
//写入
.ui-icon-writein{
  @include sbg('../../assets/icon/icon_jinru.png');
  width:19px;
  height:22px;
}

//下载
.ui-icon-download{
  @include sbg('../../assets/icon/icon_xiazai.png');
  width:14px;
  height:14px;
}

//写
.ui-icon-write{
  @include sbg('../../assets/icon/icon_xie.png');
  width:16px;
  height:15px;
}

//飞机
.ui-icon-airplane1{
  @include sbg('../../assets/icon/icon_air_1.png');
}

.ui-icon-airplane2{
  @include sbg('../../assets/icon/icon_air_2.png');
}

//向下三角
.ui-icon-down{
  content:'';
  border-top:7px solid $fc3;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
}

//向上三角
.ui-icon-up{
  content:'';
  border-bottom:7px solid $fc3;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
}

//标题横条背景
.ui-strip1{
  &:after{
    @include addWC('');
    border-top:15px solid #aed06f;
    border-left:0 solid #aed06f;
    border-right: 15px solid transparent;
    position:absolute;
    right:-15px;
    top:0;
  }
  &:before{
    @include addWC('');
    border-bottom:15px solid #aed06f;
    border-left:0 solid #aed06f;
    border-right: 15px solid transparent;
    position:absolute;
    right:-15px;
    bottom:0;
  }
  position:relative;
  width:105px;
  height:30px;
  background:#aed06f;
  .ui-strip2{
    width:65px;
    height:30px;
    background:#7dbc46;
    text-align: center;
    line-height:30px;
    position:relative;
    &:after{
      @include addWC('');
      border-top:15px solid #7dbc46;
      border-left:0 solid #7dbc46;
      border-right: 15px solid transparent;
      position:absolute;
      right:-15px;
      top:0;
    }
    &:before{
      @include addWC('');
      border-bottom:15px solid #7dbc46;
      border-left:0 solid #7dbc46;
      border-right: 15px solid transparent;
      position:absolute;
      right:-15px;
      bottom:0;
    }
  }
  .ui-strip-text{
    color:$fc3;
    font-size: 16px;
  }
}


//搜索
.ui-icon-search{
  @include sbg('../../assets/icon/icon_search.png');
  width:15px;
  height:15px;
}


//删除
.ui-icon-del{
  @include sbg('../../assets/icon/icon_del.png');
  height:18px;
  width:18px;
}

//插入
.ui-icon-charu{
  @include sbg('../../assets/icon/icon_charu.png');
  height:15px;
  width:20px;
}

//退回，下滑
.ui-icon-arrows-left{
  @include sbg('../../assets/icon/icon_out.png');
}

.ui-icon-arrows-right{
  @include sbg('../../assets/icon/icon_right_1.png');
}

//关闭按钮
.ui-icon-close1{
  @include sbg('../../assets/icon/icon_close_1.png');
  width:10px;
  height:10px;
}

.ui-icon-close2{
  @include sbg('../../assets/icon/icon_close_2.png');
  width:10px;
  height:10px;
}

.ui-icon-close3{
  @include sbg('../../assets/icon/icon_close_3.png');
  width:10px;
  height:10px;
}


//logo图标
.ui-icon-logo{
  display:inline-block;
  width:30px;
  height:28px;
  background:url('../../assets/icon/logo.png') no-repeat center;
  vertical-align: middle;
}

//页头图标
.ui-icon-home{
  @include sbg('../../assets/icon/icon_home.png');
}

.ui-icon-datapic{
  @include sbg('../../assets/icon/icon_datapic.png');
}

.ui-icon-line{
  @include sbg('../../assets/icon/icon_line.png');
}
.ui-icon-count{
  @include sbg('../../assets/icon/icon_count.png');
}
.ui-icon-loaction{
  @include sbg('../../assets/icon/icon_loaction.png');
}
.ui-icon-ari{
  @include sbg('../../assets/icon/icon_ari.png');
}
.ui-icon-system{
  @include sbg('../../assets/icon/icon_system.png');
}

.ui-icon-set{
  @include sbg ('../../assets/icon/icon_set.png');
}

.ui-icon-record{
  @include sbg ('../../assets/icon/icon_book.png');
}

.ui-icon-user{
  @include sbg ('../../assets/icon/icon_user.png');
}

.ui-icon-out{
  @include sbg('../../assets/icon/icon_out.png');
}

