@charset "UTF-8";
@import "var";
//bg
@mixin sbg($url){
  background: url($url) no-repeat center;
  background-size: auto 100%;
}

//最大宽度
@mixin maxWidth($w){
  max-width:$w+px;
  margin:0 auto;
}

//头尾padding设0
@mixin setPad0(){
  &:first-child{
    padding-left:0;
  }
  &:last-child{
    padding-right:0;
  }
}

//伪类子元素添加内容
@mixin addWC($C){
  content:$C;
  display: inline-block;
}
