//文字色
$mc:#333333;
//副色
$fc1: #999999;
$fc2: #dcdcdc;
$fc3 : #fff;

//边框主色
$bm:#d7d7d7;
//边框副色
$bc: #8be8e7;

//突出色
$ac: #1ea3b7;
$ac1: #ff5757;
$ac2: #ffd649;

//背景色

//表格背景
$bgb:#fff;
$bg1: #e3e3e3;
$bg2: #eeeeee;

//主背景
$bg3: #f7f7f7;

//页头背景
$bg4: #1ea3b7;
$bg5: #218098;
$bg5-1:#0a708a;
$bg6: #d6ecef;


//侧边背景
$bg7: #202b39;
$bg8: #2e3a49;
$bg9: #3a4655;

