@charset "UTF-8";
@import "../../style/mixin";
//侧面板
.aside-panel{
  float:left;
  width:20%;
  height:20px;
  display:none;
}

//内容块
.content{
  float:left;
  width:100%;
}
  /*标签导航*/
.heaer-nav-wrap{
  background:$bg7;
  height:35px;
  width:100%;
  .label-container{
    padding:0 15px;
  }
  .ui-arrows-left{
    float:left;
    height:14px;
    width:10px;
    margin: 10px 8px 10px 0;
  }
  .ui-arrows-right{
    float:right;
    padding-right:12px;
    height:14px;
    margin: 10px 0;
  }
  .label-wrap{
    float:left;
    padding-top:5px;
    li{
      float:left;
      background:$bg8;
      height:30px;
      line-height:30px;
      text-align: center;
      min-width:140px;
      padding:0 15px;
      margin-right:5px;
      border-radius: 3px 3px 0 0;
      position:relative;
      span{
        font-size:14px;
        color:$fc3;
      }
      >i{
        width:10px;
        height:10px;
        position:absolute;
        transform: translateY(-50%);
        top:50%;
        right:15px;
      }
    }

    //选中标签
    li.active{
      background:$bg3;
      margin:0 17px;
      &:after{
        right:-12px;
        border-left:6px solid $bg3;
        border-bottom:14px solid $bg3;
        border-right:6px solid transparent;
        border-top:14px solid transparent;
      }
      &:before,&:after{
        position:absolute;

        top:2px;
        content: '';
        display:inline-block;
        z-index: 10;
      }
      &:before{
        left:-12px;
        border-right:6px solid $bg3;
        border-bottom:14px solid $bg3;
        border-left:6px solid transparent;
        border-top:14px solid transparent;
      }
      span{
        color:$mc;
      }
    }
  }
}
  /*内容展示*/
.content-wrap{
  @include maxWidth(1240+65);
  padding:30px 45px 45px 20px;
}
.weigh-wrap{
  //查询
  .search-chunk{
    margin-bottom:40px;
    >form{
      float:left;
      margin-right:10px;
      >input{
        width:89px;
      }
    }
    .ui-icon{
      height: 15px;
      width: 15px;
    }
  }
  //简单信息
  .info-chunk{
    margin-bottom:30px;
    p:first-child{
      padding-left:0;
    }
    p:last-child{
      padding-right:0;
    }
    p{
      float:left;
      padding:0 30px;
    }
    .ui-key{
      font-weight: bold;
      &:after{
        content: '：';
      }
    }
    .ui-val{
      font-size:20px;
      font-weight:bold;
      color:$ac;
    }
  }
  //称重
  .data-chunk{
    >.ui-key{
      font-weight: bold;
      margin-bottom:14px;
    }
    .form-group{
      margin-bottom:20px;
      form{
        @include setPad0();
        float:left;
        padding: 0 15px;
      }
      input{
        width:140px;
      }
      .export-item{
        float:right;
      }
    }
    .table-wrap{
      margin-bottom:30px;
      table{
        margin-bottom:20px;
        .ui-handle{
          width:146px;
          >div{
           float:left;
            width:50%;
            min-width:66px;
            >a{
              &:last-child{
                margin:0;
              }
              display:block;
              margin-bottom:10px;
            }
          }
        }
      }
      .ui-keyval{
        p{
          &:first-child{
            float:left;
          }
          float: right;
        }
      }
    }
  }
  //操作按钮
  .btn-chunk{
    text-align: center;
    a{
      margin:0 35px;
    }
  }
}


