@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.checkairport-wrap{
  padding-top:10px;
  .table-thunk{
    .bui-grid-body{
      max-height:60px;
    }
  }
  .air-check-left,.air-check-right{
    padding:30px 40px 20px 15px;
  }

  .ui-key-start{
    width:94px;
    text-align:right;
    display:inline-block;
  }
  .title-text{
    padding-left:20px;
    >span{
      font-size:12px;
      font-weight:100;
    }
  }
  .form-size{
  //form大下
    .form-first{
      width:193px;
    }
    .form-last{
      width:190px;
    }
    .form-2{
      width:280px;
    }

  //input框大小
    .input-xl{
      width:360px;
    }
    .input-l{
      width:78px;
    }
    .input-m{
      width:125px;
    }
    .input-sm{
      width:70px;
    }
    .input-s{
      width:40px;
    }
    .input-selece-x{
      .bui-select-input{
        width:30px;
      }
    }
    .input-selece-s{
      .bui-select-input{
        width:54px;
      }
    }

    .input-selece-l{
      .bui-select-input{
        width:134px;
      }
    }

    .ui-form{
      padding-right:16px;
      text-align right;
      margin-bottom:10px;
      label{
        margin-right:1px;
      }
    }
    .ac{
      color:$ac;
    }
    .ui-coordinate{
      text-align :right;
      margin-bottom:10px;
      .ui-form{
        padding-right:0;
        display:inline-block;
        vertical-align middle;
        margin-bottom:0;
      }
      >span{
        vertical-align middle;
        margin-left:10px;
      }
    }

    .ui-pad0{
      padding-right:0;
    }
  }
  .form-group1.form-size{
      .form-first{
        width:473px;
      }
      form.form-last{
        width:190px;
      }
    }
  .left-content{
    .ui-form{
      margin-left:2px;
      text-align left;
    }
  }

  .ui-key-start.float-l{
    margin-top:3px;
  }
  .ui-file{
    a{
      &:hover{
        color:$fc3;
      }
      margin-left:10px;
      color:$ac;
    }
  }
    //客户数据化
  .client-thunk{
    .form-size{
      .form-2{
        width:244px;
      }
      .form-last{
        width:195px;
      }
    }
    .check-group{
      .ui-form{
        margin-left:98px;
        >div{
          display:inline-block;
          vertical-align middle;
          margin:0 10px;
        }
      }
    }
    .table-thunk{
      padding-left:20px;
    }

    .ui-texearera-thunk{
      padding-left:20px;
      .ui-text-area{
        resize:none;
        width:100%;
        height:57px;
        padding:10px 20px;
        border:1px solid $bm;
        background:$bg3;
      }
    }
  }
}