@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.datavocabulary-wrap{
  max-width:1220px;
  margin: 0 auto;
  padding-top:30px;

  .search-thunk{
    .form-item{
      vertical-align middle;
      .ui-input{
        width:100px;
      }
    }
  }
  .table-wrap{
    border:1px solid $bm;
    width:49%;
    serMar0();
    padding:20px 10px;
    .table-thunk{
    }
  }
}