@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";
//查询1
.demangstatus-wrap{
  .content-wrap{
    max-width: 1305px;
    margin: 0 auto;
    padding:30px 45px 45px 20px;
  }
  .search-chunk{
    margin-bottom:30px;
    >form{
      float:left;
      margin-right:10px;
      >input{
        width:89px;
      }
    }
    .ui-icon{
      height: 15px;
      width: 15px;
    }
  }

  .table-thunk{
    margin-bottom:15px;
  }

  .pages-thunk{
    text-align center;
    .bui-pagingbar{
      float:none;
      display:inline-block
    }
  }

}
