//@import "../../assets/css/common/common";
@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.payload-wrap{
  .aside-wrap{
    padding-top:18px;
    .search-yard{
      .ui-btn-search{
        margin-left:40px;
      }
    }
  }

  //右侧内容
  .content-wrap{
    width:88%;
    min-width:(1017/1440*1280)px;
    margin: 0 auto;

    //表格
    .table-thunk{
      margin-bottom:15px;
    }
    //分页
    .page-wrap{
      text-align: center;
    }
  }
}
