@import "../../assets/css/common/var.styl";
@import "../../assets/css/common/mixin.styl";

.waypointcontrast-wrap{
  .aside-wrap{
    .result-thunk{
      top:0px;
      .radio-thunk{
        text-align center;
        padding:0 8px;
        >div{
          display:inline-block;
          color:$fc3;
        }
      }
      .result-list{
        li.active{
          padding-right:28px;
          .num{
            background:$ac1;
          }
          .at{
            color:$ac1;
          }
        }
        li{
          padding-left:20px;
          padding-right:20px;
          text-align center;
          .num{
            background:$ac;
            height:16px;
            width:25px;
            text-align center;
            line-height:16px;
            color:$fc3;
            margin-top:12px;
            border-radius :8px;
          }
        }
      }
    }
  }
  .content-wrap{
    max-width:1100px;
    margin: 0 auto;
    .search-thunk{
      .ui-form-unit{
        .bui-select-input{
          width:110px;
        }
      }
    }
    .form-group-thunk{
      margin-bottom:15px;
      .form-group3{
        >.ui-form{
          &:first-child{
            input{
              width:115px;
            }
          }
        }
      }
      .form-group4{
        >.ui-form{
          &:first-child{
            input{
              width:105px;
            }
          }
          &:last-child{
            padding-right:18px;
            input{
              width:30px;
            }
          }
        }
      }
      .ui-form{
        margin-bottom:10px;
      }
      .ui-form-unit{
        width:(250/1100)*100%;
        padding-right:18px;
        text-align :right;
        setPad0();
        input{
          width:140px;
        }
      }
      .ui-coordinate{
        width:(340/1100)*100%;
        min-width:((340/1440)*1280)px;
        max-width:340px;
        padding-right:15px;
        text-align :right;
        margin-bottom:10px;
        .ui-form{
          display:inline-block;
          vertical-align middle;
          margin-bottom:0;
        }
        >span{
          display:inline-block;
          vertical-align middle;
        }
      }
      .ui-form-first{
        width:250px;
      }
    }
    .client-data-thunk{
      margin-bottom:45px;
      .ui-form{
        width:(230/1100)*100%;
        max-width:230px;
        input{
          width:30px;
        }
      }
    }
    .btn-group{
      text-align :middle;
      .ui-btn-full{
        setMar0();
        margin:0 5px;
      }
    }
  }
}