@import "./common/var";
@import "./common/mixin";
/*页头*/
.header-wrap{
  background:$bg4;

}

.header-container{
  background:$bg4;
  height:60px;
  width:100%;
  margin:0 auto;
  min-width:1200px;
  max-width:1440px;
  a{
    color:$fc3;
  }
}

.head-logo{
  float:left;
  display:block;  
  width:220px;
  height:60px;
  text-align: center;
  padding:16px 1.4% 13px 15px;
  img{
    width:100%;
  }
  .head-text{
    display:inline-block;    
  }
  >i{
    margin-right:8px;
  }
  >a{
    color:$fc3;
    font-size:18px;
    vertical-align: middle;
  }
  h3{
    letter-spacing: 16px;
    font-size:20px;
    font-weight:500;
  }
  span{
    display:block;
    text-align: left;
    font-size:12px;
    letter-spacing: 0px;
  }
}

.head-nav{
  float:left;
  text-align: center;
  white-space :nowrap;
  width:60%;
  overflow hidden;
  >li.hint-dot{
    >.ui-icon{
      position:relative
      &:after{
        position:absolute;
        top:0;
        right:0;
        addWC(' ');
        width:7px;
        height:7px;
        background:$ac1;
        border-radius :50%;
      }
    }
  }
  >li.active{
    background:$bg5;
    .muen-wrap{
      display:block;
    }
  }
  >li{
    &:hover{
      background:$bg5;
    }
    
    cursor: pointer;
    height:60px;
    display:inline-block;
    padding:10px 27px;
    text-align: center;
    >i{
      display:block;
      height:20px;
    }
    a{
      font-size:14px;
    }
  }
}

.head-info{
  float:right;
  text-align: right;
  padding:18px 0;
  margin-left:0.7%;
  padding-right:20px;
  a{
    display: inline-block;
    margin:0 12px;
    cursor pointer;
    setMar0();
  }

  .set-thunk{
    position: relative;
    display: inline-block;
    .head-set{
      width:20px;
      height:20px;
    }
      .menu-down-wrap{
        &:after{
          position:absolute;
          addWC(' ');
          border-bottom:12px solid $bg5-1;
          border-left:8px solid transparent;
          border-right:8px solid transparent;
          top:-12px;
          left:52px;
        }
        display:none;
        position:absolute;
        left:-50px;
        top:38px;
        border-radius 4px;
        width:120px;
        padding:10px 0;
        background:$bg5-1;
        z-index :20;
        p{
          &:hover{
            background:$bg5;
          }
          text-align center;
          height:30px;
          line-height:30px;
          color:$fc3;
          padding:0 10px;
          cursor pointer;
        }
      }
  }

  .head-record{
    margin:0 12px;
    width:18px;
  }
  .ips-ui-icon{
    height:20px;
  }
  .head-user{
    vertical-align: middle;
    >i{
      margin-right:10px;
      padding-left:20px;
      height:20px;
    }
    width:85px;
    font-size:12px;
  }
}

/*菜单*/
.muen-wrap{
  display: none;
  position:absolute;
  top:60px;
  left:0;
  right:0;
  background:$bg5;
  z-index: 15;
}
.secondary-muen{
  width:100%;
  max-width: 1000px;
  margin:0 auto;
  white-space initial;
  text-align: center;
  >li{
    &:hover{
      background:$bg5-1;
    }
    display:inline-block;
    height:48px;
    line-height 48px;
    .muen-leaf{
      display inline-block;
      padding-left:20px;
      padding-right:20px;
      font-size:14px;
      color:$fc3;
    }
  }
  .pull-down-wrp{
    padding:0;
    &:hover{
      position:relative;
      background:$bg5-1;
      .pull-down-menu{
        display:block;
        .muen-leaf{
          padding-left:0;
          padding-right:0;
        }
      }
    }
  }
  .down-menu-btn{
    >.ui-icon-down{
      margin-left:10px;
    }
  }

  .pull-down-menu{
    display:none;
    position:absolute;
    background:$bg5-1;
    font-size:14px;
    width:100%;
    left:0;
    top:38px;
    >li{
      &:hover{
        background:$bg4;
      }
      padding:10px 15px;
    }
  }
}

/*标签导航*/
.heaer-nav-wrap{
  background:$bg7;
  height:35px;
  width:100%;
  .versions-text{
    color:$ac;
    font-size:16px;
    text-align: center;
    line-height:35px;
    width:280px;
  }
  .label-container{
    position:relative;
    margin-left:280px;
    padding:0 30px;
    max-width:1250px;
  }
    .ui-arrows{
      position:absolute;
      height:14px;
      width:10px;
      margin: 10px 0;
      cursor: pointer;
    }
  .ui-arrows-left{
    left:5px;
  }
  .ui-arrows-right{
    right:5px;
  }
  .label-wrap{
    width:100%;
    overflow hidden;
  }
  .label-list{
    white-space:nowrap;
    padding-top:5px;
    li{
      display:inline-block;
      background:$bg8;
      height:30px;
      line-height:30px;
      text-align: center;
      min-width:140px;
      padding:0 15px;
      margin-right:5px;
      border-radius: 3px 3px 0 0;
      position:relative;
      cursor: pointer;
      span{
        display:inline-block;
        font-size:14px;
        color:$fc3;
        padding:0 20px;
      }
      >i{
        width:10px;
        height:10px;
        position:absolute;
        transform: translateY(-50%);
        top:50%;
        right:15px;
      }

      .ui-icon-close{
        //sbg('../img/icon/icon_close_2.png');
        width:10px;
        height:10px;
      }
    }

      li:hover{
        .ui-icon-close{
         sbg('../img/icon/icon_close_2.png');
          width:10px;
          height:10px;
        }
      }

    //选中标签
    li.active{
      background:$bg3;
      margin:0 17px;
      &:after{
        right:-12px;
        border-left:6px solid $bg3;
        border-bottom:14px solid $bg3;
        border-right:6px solid transparent;
        border-top:14px solid transparent;
      }
      &:before,&:after{
        position:absolute;

        top:2px;
        content: '';
        display:inline-block;
        z-index: 10;
      }
      &:before{
        left:-12px;
        border-right:6px solid $bg3;
        border-bottom:14px solid $bg3;
        border-left:6px solid transparent;
        border-top:14px solid transparent;
      }
      span{
        color:$mc;
      }
      .ui-icon-close{
         sbg('../img/icon/icon_close_1.png');
        width:10px;
        height:10px;
      }
    }
  }
}

/*内容展示*/

  iframe{
    display: none;
    border:none;
    background:$bg3;
  }
  iframe.active{
    display: block;
  }





.ui-icon-close2{
   sbg('../img/icon/icon_close_2.png');
  width:10px;
  height:10px;
}

.ui-icon-close3{
   sbg('../img/icon/icon_close_3.png');
  width:10px;
  height:10px;
}

//页头图标
.ui-icon-logo{
  display:inline-block;
  width:30px;
  height:28px;
  background:url('../img/icon/logo.png') no-repeat center;
  vertical-align: middle;
}
.ui-icon-0{
   sbg('../img/icon/icon_home.png');
}

.ui-icon-1{
   sbg('../img/icon/icon_datapic.png');
}

.ui-icon-2{
   sbg('../img/icon/icon_line.png');
}
.ui-icon-3{
   sbg('../img/icon/icon_count.png');
}
.ui-icon-4{
   sbg('../img/icon/icon_loaction.png');
}
.ui-icon-5{
   sbg('../img/icon/icon_ari.png');
}
.ui-icon-6{
   sbg('../img/icon/icon_system.png');
}

.ui-icon-set{
   sbg ('../img/icon/icon_set.png');
}

.ui-icon-record{
   sbg ('../img/icon/icon_book.png');
}

.ui-icon-user{
   sbg ('../img/icon/icon_user.png');
}

.ui-icon-out{
 sbg('../img/icon/icon_out.png');
  width:18px;
}
.ui-icon-out:hover{
  sbg('../img/icon/icon_out1.png');
}

//退回，下滑
.ui-icon-arrows-left{
   sbg('../img/icon/icon_left_1.png');
}

.ui-icon-arrows-right{
   sbg('../img/icon/icon_right_1.png');
}
